@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* columns */

section .row {
  display: flex;
}
.column .col-1 {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  height: 447px;
  width: 335px;
  background: #ffffff;
}

.column .col-2 {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  color: #3d4857;
  width: 645px;
  height: 384px;
  max-width: 100%;
  background: #ffffff;

  margin-left: 40px;
}

/* typography */
.col-2 h2 {
  color: #3d4857;
  text-align: center;
  margin-bottom: 35px;
  font-size: 1.25rem;
}

.column .col-1 h3 {
  color: #3d4857;
  font-size: 0.875rem;
}

.col-2 p {
  color: #3d4857;
  margin-top: 2px;
}

.column .col-1,
.column .col2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  width: 329px;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: #3d4857;
}

.form-control input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #3d4857;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: #4d4cbb;
  border: 2px solid #4d4cbb;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 2px;
  width: 100%;
}

.primary-color {
  color: #4d4cbb;
}

/* buttons */
.column .btn {
  background-color: #4d4cbb;
  border-radius: 4px;
  padding: 10px 20px;
}

.column a {
  color: #fff;
  text-decoration: none;
}

.column a > i {
  padding-left: 10px;
}

.next {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}

/* stepper */

.column .col-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 23px;
}

.column .numbers {
  display: inline-flex;
  flex-direction: row;
  color: #fff;
  background: #4d4cbb;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  align-items: center;

  justify-content: center;
  margin-right: 26px;
}

.column .stepper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 48px 0 0 40px;
}

/* .column h3 {
  padding-left: 12px;
} */

/* main-request help */

section h2 {
  color: #3d4857;
  font-weight: bold;
  font-size: 14px;
}

.troubleshooting {
  display: flex;
  justify-content: flex-end;
}

.troubleshooting .primary {
  color: #4d4cbb;
}
